<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="shortcut icon" href="/img/heladeria.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Caprasimo&family=DynaPuff&display=swap"
        rel="stylesheet" />
    <title>Heladería La Tentación</title>
</head>

<body>
    <header class="header">
        <div class="login-sign">
            <button id="showModalBtn" type="button" class="btn btn-outline-primary">
                Iniciar sesión
            </button>
        </div>
        <div class="logo-name">
            <div class="logo">
                <img src="/img/logoa.png" alt="logo la tentación" />
            </div>
            <div class="name">
                <h1>La Tentación</h1>
                <span>Heladería</span>
            </div>
        </div>
    </header>
    <nav class="nav">
        <a href="/">Inicio</a>
        <a href="/domicilios">Domicilios</a>
        <a href="">Menú</a>
        <a href="">Sabores</a>
        <a href="">Contacto</a>
    </nav>
    <div class="content">
        <div class="carousel-content">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <div class="img">
                            <img src="/img/logo.png" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>CHOCOLATE ROCK</h5>
                            <p>
                                Es un chocolate reconocido mundialmente, y su sabor es
                                perfecto al ser mezclados con nuestro helado de chocolate con
                                avellana y nueces.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <div class="img">
                            <img src="/img/helader.png" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>
                                Some representative placeholder content for the second slide.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="img">
                            <img src="/img/heladin.png" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>
                                Some representative placeholder content for the third slide.
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        <div class="img">
                            <img src="/img/helado.png" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>
                                Some representative placeholder content for the first slide.
                            </p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="sabores">
        <div class="title-sabores">
            <h2>Nuestros Sabores</h2>
        </div>
        <div class="tarjetas-sabores">
            <div class="card" style="width: 18rem">
                <img src="/img/prueba.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the
                        bulk of the card's content.
                    </p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/img/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/img/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/img/prueba.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="btn-sabores">
            <button type="button" class="btn btn-info">Ver más sabores</button>
        </div>
    </div>
    <footer class="footer">
        <div class="redes-sociales">
            <div class="title">
                <h4>COMPARTE CON NOSOTROS EN NUESTRAS REDES SOCIALES</h4>
            </div>
            <div class="logo-redes">
                <img src="/img/facebook.svg" alt="Facebook" />
                <img src="/img/instagram.svg" alt="Instagram" />
                <img src="/img/whatsapp.svg" alt="WhatsApp" />
            </div>
        </div>
        <div class="copyright">
            <p>Todos los derechos reservados</p>
            <p>Diseño y desarrollo Henry Cañizares</p>
        </div>
    </footer>

    <!--Ventana modal-->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-btn" id="closeModal">&times;</span>
            <h2>Iniciar Sesión</h2>
            <form class="loginForm" id="loginForm" action="/login" method="POST">
                <label for="username">Usuario:</label>
                <div class="input-group flex-nowrap">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" required>
                </div>

                <label for="password">Contraseña:</label>
                <div class="input-group flex-nowrap">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping" required>
                </div>

                <button type="submit" class="btn btn-success">Ingresar</button>
            </form>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>

    <script src="/js/index.js"></script>
</body>

</html>